name: Test

on:
  push:
    branches: master
  pull_request:
    branches: master

env:
  GTEST_OUTPUT: "xml:test_results"
  BUILDCMD: "colcon build --event-handlers console_direct+ --executor sequential --packages-up-to ad_rss ad_rss_map_integration --cmake-args -DBUILD_HARDENING=ON -DBUILD_TESTING=ON -DBUILD_PYTHON_BINDING=ON -DPYTHON_BINDING_VERSION=${PYTHON_BINDING_VERSION} && colcon test --event-handlers console_direct+ --packages-select ad_rss ad_rss_map_integration && colcon test-result"

permissions:
  contents: read

jobs:
  build-test:
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            compiler: gcc9
            EXTRA_PACKAGES: ""
            CC: ""
            CXX: ""
            PYTHON_BINDING_VERSION: "3.8"
          - os: ubuntu-20.04
            compiler: clang10
            EXTRA_PACKAGES: clang-10
            CC: /usr/bin/clang-10
            CXX: /usr/bin/clang++-10
            PYTHON_BINDING_VERSION: "3.10"
          - os: ubuntu-22.04
            compiler: gcc11
            EXTRA_PACKAGES: ""
            CC: ""
            CXX: ""
            PYTHON_BINDING_VERSION: "3.10"
          - os: ubuntu-22.04
            compiler: clang14
            EXTRA_PACKAGES: clang-14
            CC: /usr/bin/clang-14
            CXX: /usr/bin/clang++-14
            PYTHON_BINDING_VERSION: "3.10"

    name: ${{ matrix.os }}, ${{ matrix.compiler }}, python-${{ matrix.PYTHON_BINDING_VERSION }}
    runs-on: ${{ matrix.os }}

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
      with:
        egress-policy: audit

    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
          submodules: recursive

    - name: Install Dependencies
      run: bash .github/workflows/install_dependencies.sh

    - name: Build and Test
      env:
          CC: ${{ matrix.CC }}
          CXX: ${{ matrix.CXX }}
          EXTRA_PACKAGES: ${{ matrix.EXTRA_PACKAGES }}
          PYTHON_BINDING_VERSION: ${{ matrix.PYTHON_BINDING_VERSION }}
      run: |
        sudo apt-get install ${EXTRA_PACKAGES}
        rm -rf log build install
        eval CC=${CC} CXX=${CXX} ${BUILDCMD}
