name: Wheels

on:
  release:
    types: [published]
  push:
    branches: master
  pull_request:
    branches: master

permissions:
  contents: read

jobs:
  wheels:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            PYTHON_BINDING_VERSION: "3.10"
          - os: ubuntu-20.04
            PYTHON_BINDING_VERSION: "3.8"

    name: ${{ matrix.os }}, python-${{ matrix.PYTHON_BINDING_VERSION }}
    runs-on: ${{ matrix.os }}
    env:
      WHEEL_PLATFORM: manylinux_2_27_x86_64
      PYTHON_BINDING_VERSION: ${{ matrix.PYTHON_BINDING_VERSION }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
          egress-policy: audit

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Install Dependencies
        run: |
          bash .github/workflows/install_dependencies.sh
          sudo pip3 install auditwheel

      - name: Build wheels
        shell: bash
        run: |
          colcon build --packages-select PROJ4 --event-handlers console_direct+ --cmake-args -DCMAKE_POSITION_INDEPENDENT_CODE=ON
          source install/setup.bash
          colcon build --packages-up-to ad_rss_map_integration --meta colcon_python.meta --event-handlers console_direct+ --cmake-args -DPYTHON_BINDING_VERSION=${PYTHON_BINDING_VERSION}

      - name: Repair wheels
        shell: bash
        run: |
          source install/setup.bash
          for whl in install/ad_rss/dist/*.whl; do
            auditwheel repair $whl --plat ${WHEEL_PLATFORM} --wheel-dir wheelhouse
          done
          for whl in install/ad_rss_map_integration/dist/*.whl; do
            auditwheel repair $whl --plat ${WHEEL_PLATFORM} --wheel-dir wheelhouse
          done

      - name: Publish wheels to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: ${{ github.event_name == 'release'}}
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: wheelhouse/
